body{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
}

.result{
    text-align: right;
}

th, td{
    border: solid;
    border-width: 0.15em;
    width: 15em;
    height: 5em;
}